<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.user.dao.ComboMapper">
  <resultMap id="BaseResultMap" type="com.example.user.po.Combo">
    <!--@mbg.generated-->
    <!--@Table combo-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goodsId" jdbcType="INTEGER" property="goodsid" />
    <result column="comboName" jdbcType="VARCHAR" property="comboName" />
    <result column="inventory" jdbcType="INTEGER" property="inventory" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, goodsId, comboName, inventory,`state`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from combo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from combo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.user.po.Combo">
    <!--@mbg.generated-->
    insert into combo (id, goodsId, comboName,
      `state`)
    values (#{id,jdbcType=INTEGER}, #{goodsid,jdbcType=INTEGER}, #{comboName,jdbcType=VARCHAR},
      #{state,jdbcType=INTEGER})
  </insert>

<!--  添加套餐-->
  <insert id="insertSelective" parameterType="com.example.user.po.Combo">
    <!--@mbg.generated-->
    insert into combo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsid != null">
        goodsId,
      </if>
      <if test="comboName != null">
        comboName,
      </if>
      <if test="inventory != null">
        inventory,
      </if>
        `state`
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="comboName != null">
        #{comboName,jdbcType=VARCHAR},
      </if>
      <if test="inventory != null">
        #{inventory,jdbcType=INTEGER},
      </if>
      '在售'
    </trim>
  </insert>

<!--下架某商品的套餐-->
  <update id="updateCombo" parameterType="com.example.user.dto.UpdateStateDTO">
    update combo
    set state = #{state,jdbcType=VARCHAR}
    where goodsId = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateByPrimaryKeySelective" parameterType="com.example.user.po.Combo">
    <!--@mbg.generated-->
    update combo
    <set>
      <if test="goodsid != null">
        goodsId = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="comboName != null">
        comboName = #{comboName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.user.po.Combo">
    <!--@mbg.generated-->
    update combo
    set goodsId = #{goodsid,jdbcType=INTEGER},
    comboName = #{comboName,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
